flask
flask_graphql
flask-appbuilder
flask-talisman
psycopg2
sqlalchemy~=2.0.25
graphene~=3.3
graphene_sqlalchemy
sqlalchemy_searchable
flask_graphql
whoosh
kivy~=2.3.0
kivymd
flask-mail
pandas~=2.2.0
pdfkit~=1.0.0
geoalchemy2~=0.14.3
pendulum

click~=8.1.7
setuptools~=69.5.1
flask~=3.0.2
shutils~=0.1.0
inflect~=7.0.0
marshmallow~=3.20.1
Faker~=22.5.1
sqlparse~=0.4.4
pydbml~=1.0.9
WTForms~=3.0.1
geopy~=2.4.0
pydot~=2.0.0
argparse~=1.4.0
pytest~=8.2.2